**/.DS_Store
.ipynb_checkpoints
__pycache__/


GeoTIFF2XYZ

DEPR
github_clones

**/tmp/**
models/**
predictions/**/**.pickle
**checkpoints**

**asdf**

mmsegmentation

csv/
debugpy/
data*/
env/
figures/
geoquery/
logs/
reporting/

*.qgz
*.gpkg
.vscode
.png

**.ini
