**/.DS_Store
.ipynb_checkpoints
__pycache__/


GeoTIFF2XYZ


DEPR
github_clones

**/tmp/**
models/**
predictions/**/**.pickle
**checkpoints**

**asdf**

mmsegmentation

logs/
figures/
csv/
debugpy/

.vscode

**.ini
